name: "web-starter"
mode: "dev"
port: 8080
version: "v0.0.0"
log:
  level: "debug"
  filename: "web-starter.log"
  max_size: 200
  max_age: 30
  max_backups: 7
mysql:
  host: "127.0.0.1"
  port: 3306
  user: "root"
  password: "******"
  dbname: "database-name"
  max_open_conns: 100
  max_idle_conns: 10
redis:
  host: "127.0.0.1"
  port: 6379
  password: ""
  db: 0
  pool_size: 100
